body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
  }
  @font-face {
    font-family: 'antonio'; /* Nome da fonte personalizada */
    src: url('fonts/antonio.ttf') format('truetype'); /* Caminho para o arquivo .ttf */
  }
  @font-face {
    font-family: 'hk'; /* Nome da fonte personalizada */
    src: url('fonts/hk.ttf') format('truetype'); /* Caminho para o arquivo .ttf */
  }
  @font-face {
    font-family: 'telegraf'; /* Nome da fonte personalizada */
    src: url('fonts/telegraf.otf') format('truetype'); /* Caminho para o arquivo .ttf */
  }
  .container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  
/* Estilo CSS adicional para o cabeçalho */
    .header {
    background-color: black; /* Define a cor de fundo preta */
    color: white; /* Define a cor do texto para branco */
    display: flex;
    align-items: center;
    }
    .dog-photo {
    float: left;
    margin-left: 0%;
    width: 50%;
    height: 100%;
    }
    .header-phone{
      height: 100%; /* Define a altura do cabeçalho para ocupar toda a altura da tela */
    display: flex;
    align-items: center;
    }
    .dog-photo-phone {
      width: 100%;
    }
    .text-content {
    text-align: left;
    font-family:'antonio';
    margin-left: 5%;
    font-size: 30px;
    
    }
    .text-content h1{
        font-size: 60px;
    }
    .text-content-phone {
      font-family:'antonio';
      font-size: 30px;
      
      }
      .text-content-phone h1{
          font-size: 70px;
      }
    .texto-flutuante {
        font-family:'hk';
        position: absolute; /* Define a posição absoluta */
        top: 10%; /* Define o topo a 50% do container */
        left: 30%; /* Define a esquerda a 50% do container */
        transform: translate(-50%, -50%); /* Centraliza o texto */
        color: black; /* Cor do texto */
        padding: 20px; /* Espaçamento interno */
        
      }
    .texto-flutuante-phone {
        font-family:'hk';
        position: absolute; /* Define a posição absoluta */
        top: 0%; /* Define o topo a 50% do container */
        color: black; /* Cor do texto */
        text-align: center;
        
    }
      header h5{
        font-family:'antonio';
        font-size: 70px;
      }
      .texto-flutuante h2 {
        font-family: "hk";
        font-weight: normal;
        text-transform: none;
        font-size: 70px;
        margin-left: 5px;
        margin-top: 0; /* Remove a margem superior do título */
      }
.bluehighlight{
  color: #93A9FF;
}
  .title {
    max-width: 50%;
    margin-top: 25%;
  }

  h2{
    text-transform: uppercase;
    font-family:'antonio';
    font-size: 70px;
  }
  h3{
    font-family:'hk';
    border: 2px solid black; /* Bordas pretas com largura de 2px */
    padding: 10px; /* Apenas para mostrar a borda */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'hk';
    font-weight: bold;
    font-size: 30px;
    width: 50%;
    margin-left: 25%;
  }
  .diverro{
    font-family:'hk';
    border: 1px solid black; /* Bordas pretas com largura de 2px */
    padding: 10px; /* Apenas para mostrar a borda */
    justify-content: center;
    text-align: center;
    font-family: 'hk';
    font-size: 20px;
    width: 50%;
  }
  .pbold{
    font-weight: bold;
  }
  h4{
    font-family:'hk';
    border: 2px solid white; /* Bordas pretas com largura de 2px */
    padding: 10px; /* Apenas para mostrar a borda */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'hk';
    font-weight: bold;
    font-size: 30px;
    width: 50%;
    margin-left: 25%;
  }
  .subtitle {
    font-size: 0.8em;
  }
  
  @keyframes spin {
    to { transform: rotate(360deg); }
  }
 
  .white{
    color: #000;
    background-color: #fff;
  }
  .black{
    color: #fff;
    background-color: #191919;
  }
  .darkblack{
    color: #fff;
    background-color: #000;
  }
  .contact{
    color: #000;
    background-color: #93A9FF;
  }
  .latest-updates{
    margin-top: 25%;
    height: 800px;
  }
  .how-can-we-help, .upload-container, .characteristics, .results-container, .search-again, .thank-you, .latest-updates, .donations, .contact {
    margin-top: 0;
    text-align: center;
    min-height: 700px;
  }
  
  .how-can-we-help, .upload-container, .characteristics, .results-container, .search-again, .thank-you, .latest-updates, .donations, .contact h2{
    padding-top: 50px;
  }
  .thank-you {
    background-image: url('obrigado.png');
    background-size: cover; /* Isso fará com que a imagem cubra todo o container */
    background-position: center; /* Isso fará com que a imagem fique centralizada no container */
    color: white; /* Cor do texto dentro do container */
  }
  .thank-you-pri{
    font-family: "hk";
    font-weight: bold;
    font-size: 70px;
    padding-top: 10%;
    
  }
  .thank-you-sec{
    font-family: "hk";
    font-size: 30px;
  }
  .thank-you-ter{
    font-size: 30px;
    font-family: "hk";
    color: #93A9FF;
  }
  .options {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
  }
  
  .option {
    left: 15%;
    padding-right: 5%;
  }
  .option-right {
    right:15%

  }
  .options-phone {
    padding: 15%;
    justify-content: center;
  }
  .option-phone {
    padding-bottom: 10%;
    justify-content: center;
    text-align: center;
  }
  .h2-phone{
    text-align: center;
    font-size: 50px;
  }
  .card-ajudar{
    border-color: #93A9FF;
    border-radius: 0px;
    border-width: 2px;
    background-color: #191919;
    height: 100%;
  }
  .card-title-ajudar{
    margin-top: 15%;
    margin-bottom: 15%;
    font-family: 'telegraf';
    font-weight: bold;
    color: #93A9FF;
  }
  .card-img-top-ajudar{
    max-width: 250px;
    min-width: 250px;
    max-height: 250px;
    min-height: 250px;
  }
  .card-text-ajudar{
    font-weight: bold;
    font-size: 30px;
    line-height: 1.5;
    padding-bottom: 15%;
  }
  .card-result{
    width: 250px;
    padding: 10px;
    height: 100%;
    margin: 10px;
  }
  .card-title-result{
    margin-top: 15%;
    margin-bottom: 15%;
    font-family: 'telegraf';
    color: #93A9FF;
    text-align: center;
    background-color: #888;
  }
  .card-img-top-result{
    max-width: 250px;
    min-width: 220px;
    max-height: 250px;
    min-height: 220px;
  }
  .card-text-result{
    font-family: 'telegraf';
    text-align: center;
    background-color: #D9D9D9;
    padding: 10px;
  }
  .cardcad{
    border-color: #fff;
    border-radius: 0px;
    border-width: 2px;
    padding: 10px;
    padding-top: 80px;
    background-color: #191919;
    height: 100%;
  }
  .cardcad-title{
    font-family: 'hk';
    font-weight: bold;
    font-size: 25px;
  }
  .cardcad-text{
    font-weight: bold;
    font-size: 15px;
    line-height: 1.5;
    padding-bottom: 15%;
  }
  .form-group{
    text-align: center;
    font-weight: bold;
  }
  .instruction{
    font-family: 'hk';
    color: gray;
  }
  .upload-box, button {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border: 2px solid black; /* Bordas pretas com largura de 2px */
    padding: 10px; /* Apenas para mostrar a borda */
  }
  .upload-box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'hk';
    font-weight: bold;
    font-size: 30px;
    width: 50%;
    margin-left: 25%;
    height: 300px;
  }
  button{
    font-family: 'hk';
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .cadastro{
    font-family: 'hk';
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 60px;
    margin-right: 5%;
    margin-left: 5%;
  }
  .text-xl-left{
    font-family: 'antonio';
    font-size: 60px;
    padding-left: 15%;
    text-align: left;
    line-height: 1.2;
  }
  .primary{
    font-family: 'antonio';
    text-align: left;
    padding-left: 5%;
    font-size: 45px;
  }
  .secondary{
    font-family: 'antonio';
    text-align: left;
    padding-left: 5%;
    font-size: 20px;
  }
  .terciary{
    font-family: 'telegraf';
    text-align: left;
    padding-left: 25%;
    font-size: 15px;
    color: #93A9FF;
  }
  .terciaryd{
    font-family: 'telegraf';
    text-align: left;
    padding-left: 10%;
    font-size: 15px;
    color: #93A9FF;
  }
  .lista{
    font-family: 'telegraf';
    text-align: left;
    padding-left: 25%;
    font-size: 15px;
  }
  .pixright{
    float: left;
  }
  .pixleft{
    padding-top: 80px;
  }
  .pixbox{
    
    padding: 50px;
    padding-left: 10px;
    height: 100%;
    margin-left: 50%;
    background-color: #545454;
  }
  .pixbox-phone{
    
    padding: 50px;
    padding-left: 10%;
    height: 100%;
    background-color: #545454;
  }
  .pix{
    font-family: 'telegraf';
    text-align: left;
    padding-left: 10%;
    padding-top: 0%;
    font-size: 15px;
  }
  .rodape {
    background-color: #333; /* Cor de fundo do rodapé */
    text-align: center; /* Alinhamento do texto ao centro */
  }
  
  .rodape a {
    color: #888; /* Cor do link */
    text-decoration: none; /* Remover sublinhado */
  }
  .contactleft{
    margin-left: 10%;
    text-align: left;
    float: left;
    padding-top: 160px;
    
  }
  .text-contactleft{
    font-family: "antonio";
    text-align: left;
    font-size: 60px;
  }
  .contactright{
    width: 50%;
    margin-left: 50%;
    padding-top: 160px;
    
  }
  .text-contactright{
    color: #fff;
    font-family: "antonio";
    text-align: left;
    font-size: 30px;
    width: 50%;
    padding-bottom: 80px;
  }
  .mini-contactright{
    color: #fff;
    font-family: "antonio";
    text-align: left;
    font-size: 15px;
    width: 50%;
  }
  .contactright-phone{
    margin-left: 5%;
    padding-top: 160px;
    
  }
  .text-contactright-phone{
    color: #fff;
    font-family: "antonio";
    font-size: 30px;
    padding-bottom: 80px;
  }
  .mini-contactright-phone{
    color: #fff;
    font-family: "antonio";
    font-size: 15px;
  }
  /* Estilos para o modal */
/* Estilos para o modal */
/* Estilos para o modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background-color: white;
  width: 500px;
  height: 90%;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}


.modal-card-img {
  
  width: 400px; /* Ajuste conforme necessário */
  height: 400px; /* Ajuste conforme necessário */
  margin-right: 20px;
}

.modal-card-info {
  flex: 1;
}

.modal-card-title {
  margin: 0;
  color: #000;
}

.modal-card-description {
  margin-top: 5px;
  color: #000;
}

/* Estilo para o overlay */
.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Define a cor de fundo com transparência */
  z-index: -1; /* Coloca o overlay atrás do conteúdo do modal */
}
.latest-updates {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o conteúdo horizontalmente */
}

#lastupdates-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Distribui os cards uniformemente ao longo do contêiner */
}

.card-updates {
  flex: 1 1 auto; /* Permitir que os cards cresçam e encolham conforme necessário */
  max-width: calc(25% - 20px); /* Largura máxima para garantir até 4 colunas */
  margin: 10px; /* Espaçamento entre os cards */
  
}

@media screen and (max-width: 768px) {
  .card-updates {
    max-width: calc(33.33% - 20px); /* Largura máxima para garantir até 3 colunas em telas menores */
  }
}
.none{
  color: inherit; 
  text-decoration: inherit;
}
.none:hover {
  background-color: blue;
  color: white; 
  text-decoration: none;
}
#statusresultado{
  text-align: center;
}
.curiosidades{
  padding: 60px;
  padding-top: 20px;
}
.highlight-text{
  font-family: 'antonio';
  text-align: center;
  font-size: 45px;
  padding-bottom: 20px;
}
.curiosidade {
  display: flex;

  border: 2px solid #93A9FF;
  padding: 10px;
  width: 75%; 
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Duas colunas de largura automática */
  gap: 20px; /* Espaço entre as caixas */
}
.curiosidade-text-main{
  font-family: "antonio";
  font-size: 30px;
  float: left;
  width: 320px;
  margin-left: 50px;
  margin-right: 30px;
  padding-left: 20px;
  padding-top: 25px;
  align-items: center; 
  text-transform: uppercase;
}
.curiosidade-text-secondary{
  align-items: center; 
  padding: 25px;
  font-family: "telegraf";
  color: #93A9FF;
}  
.primary-parceiros{
  float: left;
  font-family: 'antonio';
  text-align: left;
  padding-left: 5%;
  font-size: 45px;
}
.terciary-parceiros{
  font-family: 'telegraf';
  margin-left: 30%;
  text-align: left;
  padding-left: 25%;
  font-size: 15px;
  color: #93A9FF;
}
.container-parceiros {
  display: flex;
  margin-top: 60px;
  justify-content: space-around; /* Para espaçar uniformemente as imagens */
  align-items: center; /* Para centralizar verticalmente as imagens */
}

.image-container {
  width: 25%; /* Cada imagem ocupará 25% da largura do contêiner pai */
}

img {
  max-width: 100%; /* Para garantir que as imagens não ultrapassem o contêiner */
}

.centered-word {
  text-align: center; /* Centralizar horizontalmente a palavra */
}
.checkbox-group {
  display: flex;
  justify-content: center;
}
.checkbox-group-raca {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: normal;
}
#raca{
  width: 720px;
}
#imgPreview{
  max-width: 600px;
}
.checkbox-group {
  font-weight: normal;
}
.checkbox-group-raca input[type="checkbox"] {
  margin: -5px 5px 5px 5px;
}
.checkbox-group input[type="checkbox"] {
  margin: -5px 5px 5px 5px;
}
.checkbox-group input[type="radio"] {
  margin: -5px 5px 5px 5px;
}
.spinner-border {
  display: none; /* Ocultar por padrão */
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
#submitFormBtn:disabled {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
}